pipeline/pl_ingest_movie_history_data.json
{
	"name": "pl_ingest_movie_history_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_movie_history_bronze",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_file_date": {
								"value": "@pipeline().parameters.p_file_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "email_error",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/utils/02.mail-error"
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Ingestion Movie File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/01. Ingestion_file_movie",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Language File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/02. Ingestion_file_language",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Genre File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/03. Ingestion_file_genre",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Country File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/04. Ingestion_file_country (json)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Person File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/05. Ingestion_file_person (json)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Movie Genre File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/06. Ingestion_file_movie_genre (json)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Movie Cast File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/07. Ingestion_file_movie_cast (json)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Language Role File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/08. Ingestion_file_language_role (json)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Production Company File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/09. Ingestion_file_production_company (csv multiple)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Movie Company File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/10. Ingestion_file_movie_company (csv multiple)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Movie Language File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/11. Ingestion_file_movie_languages (json multi)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion Production Country File",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rafael.hinojosag@udem.edu/databricks-course/movie-history/ingestion/12. Ingestion_file_production_country (json multi)",
								"baseParameters": {
									"p_environment": {
										"value": "@pipeline().parameters.p_environment",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_environment": {
				"type": "string",
				"defaultValue": "Production"
			},
			"p_file_date": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-24T23:15:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}